/*--------------------------------------------------------------
11.0 - Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
11.1 - Posts and Pages
--------------------------------------------------------------*/
article {
	@include trailing-border(1px, 2);
	@include trailer(2);
	border-color: $border-color; 
	display: block;
	&:last-of-type {
		@include trailing-border(0, 0);
		margin-bottom: 0; 
	}
}
.hentry { 
}
.entry-thumbnail {
	@include trailer;
	border: none;
	display: block;
	height: auto; 
	img {
		display: block;
		margin: 0 auto; 
	}
	a {	
		display: block;
	}
}
.post-video {
	@include trailer;	
}
.entry-header {
	text-align: left;
	margin: 0;
	h1.entry-title {
		@include adjust-font-size-to(32px);
		margin: 0; 
		a {
			color: $heading-color;
		}	
		a:hover {
			color: $highlight-color; 
		}	
	}
	@include breakpoint($small) {
		h1.entry-title {
			@include adjust-font-size-to(23px);
		}
	}
	.entry-meta {
		@include adjust-font-size-to(14px);
		@include trailer;
		color: $text-secondary-color;
		position: relative;
		a {
			color: $text-secondary-color; 	
			&:hover {
				color: $highlight-color;
			}
		}
		span {
			display: inline-block;
			margin-right: 1.0714em; 
			span {
				margin-right: 0; 
			}
		}
		span:before, a:before {
			font-family: 'FontAwesome';
			padding-right: 0.4554em; 
		}
		.featured-post:before {
			content: "\f08d";  
		}		
		.entry-date a:before {
			content: "\f073";
		}
		.updated {
			display: none;
		}
		.author a:before {
			content: "\f040";	 
		}
		.cat-links a:first-of-type:before {
			content: "\f03a"; 
		}
		.tags-links a:first-of-type:before {
			content: "\f02b"; 
		}
		.comments-link a:before {
			content: "\f0e5"; 	
		}						
		@include breakpoint($small) {
			.author, .cat-links, .tags-links, .comments-link, .edit-link {
				display: none;
			}									
		}
	}			
}
.sticky .entry-header .entry-meta .entry-date {
	display: none; // Hide the entry date of sticky posts
}
.single .entry-header .entry-meta .entry-date:before {
	content: "\f073"; // The entry date isn't linked in single.php so put the calendar icon before the date and not the date link
}
.entry-footer {
	@include adjust-font-size-to(14px);
	color: $text-secondary-color; 
	margin-right: auto;
	margin-left: auto;
	ul {	
		display: block;
		list-style: none;
		margin: rhythm(2) 0 -0.5625rem;
		li {
			display: inline-block;
			vertical-align: top;
			.fb_iframe_widget {
				span[style] {
					vertical-align: top !important;
				}
				iframe {
					position: inherit !important;
				}
			}
		}
	}
	.edit-link {
		display: block;
		margin: rhythm(1) 0 0;
		@include breakpoint($medium) {
			display: none;
		}
		a:before {
			content: "\f044"; 
			font-family: 'FontAwesome';
			padding-right: 0.3839em;  
		}
		a {
			color: $text-color;
			&:hover {
				color: $highlight-color;
			}
		}
	}	
}
.more-link:after {
	content: "\f061";
	font-family: 'FontAwesome'; 
	font-size: 0.8125em; 
	padding-left: 0.5179em;
}
.page-links {
	clear: both;
	margin: 0 0 rhythm(1); 
	.page-links-title {
		border: none;
		color: $text-color;
		font-weight: 600; 
		padding-right: 0; 
		padding-left: 0; 
		text-transform: none; 
	}
	span {
		@include border-radius(4px);
		border: 0.0625rem solid $highlight-color;
		color: $highlight-color; 
		display: inline-block;
		margin-right: 0.3125em; 
		padding: 0.4375em 1.0625em 0.375em;
		text-transform: uppercase;
	}
	a span {
		@include transition(0.3s);
		border-color: $border-color; 
		color: $text-secondary-color;
		&:hover {
			color: $highlight-color;
			border-color: $highlight-color; 
		}	
	}
}
.page-header {
	margin-bottom: rhythm(1); 
	h1 {
		@include adjust-font-size-to(32px);
		margin: 0; 
	}
	@include breakpoint($small) {
		h1 {
			@include adjust-font-size-to(23px);
		}
	}	
}
.format-chat .entry-content {
	background: $background-color; 
	color: $heading-color-dark;
	font-family: $consolas;
	padding: 1.6875em;
}
.search-form, .post-password-form {
	margin-bottom: 0.8438em;
	label {
		display: inline-block;
		margin-right: 0.3125em; 
	}
}
@include breakpoint($small) {
	.post-password-form {
		label input {
			display: block;
			margin-top: 0.8438em; 
		}
	}	
}
.sidebar #secondary {
	@include breakpoint($medium) {
		@include leading-border(1px, 2);
		@include leader(2);
		border-color: $border-color;					
	}	
}

/*--------------------------------------------------------------
11.2 - Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
11.3 - Comments
--------------------------------------------------------------*/
.comments-area {
	.comments-title {
		@include leader(2);
		@include leading-border(1px, 2);
		border-color: $border-color;
	}
	.comment-list {
		@include leader(1.5);
		list-style: none;
		margin-left: 0;
		.comment {
			@include leader(1.5);
			@include trailer(1.5);
			&:first-of-type {
				margin-top: 0; 
			}
			&:last-of-type { 
				margin-bottom: 0; 
			}	
			&:only-of-type {
				@include leader(1.5);
				@include trailer(1.5);
			}
		}
		.pingback {
			@include adjust-font-size-to(14px);
			font-weight: 600;
			a {
				font-weight: 400; 
			} 
		}		
	}
	.comment-awaiting-moderation {
		font-weight: 600; 
		margin-bottom: rhythm(0.5);
		&:before {
			content: "\f071";
			font-family: 'FontAwesome';  
			font-size: 0.8125em;
			font-weight: normal;
			margin-right: 0.4465em;  
		}
	}			
	.comment-author, .comment-awaiting-moderation, .comment-content, .comment-list .reply, .comment-metadata {
		padding-left: rhythm(2.5);
	}
	.comment-author {
		position: relative;
		.avatar {
			border-radius: 6rem;
			height: 3rem; 
			left: 0; 
			position: absolute;
			top: 0.4375rem;
			width: 3rem; 
		}	
		.fn {
			display: inline-block;
			margin-top: 0.3125em; 
		}
		.says {	
			display: none;
		} 
	}	
	.bypostauthor .fn:before {
		content: "\f005";
		font-family: 'FontAwesome';  
		font-size: 0.8125em;
		margin-right: 0.3125em; 
	}
	.comment-metadata {
		margin-bottom: rhythm(0.5); 
		color: $text-secondary-color;
		a {
			@include adjust-font-size-to(14px);
			color: $text-secondary-color;
			&:hover {
				color: $highlight-color;
			} 	
		}
		.edit-link {
			@include breakpoint($large) {
				display: none; 
			}
			&:before {
				content: "\0020\007c\0020";
				font-family: 'FontAwesome'; 
			}
		}
	}
	.comment-content {
		a {
			word-wrap: break-word;
		}
		p:last-of-type {
			margin-bottom: 0.8438em; 
		}
	}	
	.comment-list .children {
		list-style: none;
		margin: 0 0 0 1.5em;
		@include breakpoint($small) {
			margin: 0 0 0 0.75em;
		}
	}	
	.comment-reply-link, .comment-reply-login  {
		@include adjust-font-size-to(14px);
		&:before {
			content: "\f064"; 
			font-family: 'FontAwesome'; 
			margin-right: 0.3839em; 
		}
	}
	.comment-respond {
		@include leading-border(1px, 2);
		@include leader(2);
		border-color: $border-color; 
		.comment-reply-title {
			small {
				font-size: 100%;
			}
			#cancel-comment-reply-link {
				line-height: 0;
				font-size: 0.6087em; 
				margin: 0 0 0 0.6522em; 
				&:before {
					content: "\f00d";
					font-family: 'FontAwesome'; 
					margin-right: 0.2589em;  
				}
			}			
		}		
		.required {
			color: $highlight-complementary-color;
		}		
		.comment-form-comment {
			margin-bottom: rhythm(0.5); 
		}
		.form-allowed-tags {
			@include adjust-font-size-to(13px);
		}
		.form-submit {
			margin-top: rhythm(1);
		}					
		p:last-of-type {
			margin-bottom: 0;
		}				
	}	
	.no-comments {
		font-weight: 600;
		margin: rhythm(1) 0 0; 
	}		
	.commentform-error {
		background: $error-background-color;
		border: 0.0625rem solid $error-border-color;
		color: $error-text-color;
		display: block;
		margin: rhythm(1) 0;
		padding: rhythm(0.75) rhythm(0.5);
	}					
}