/*--------------------------------------------------------------
4.0 - Elements
--------------------------------------------------------------*/
hr {
	background-color: $border-color;
	border: 0;
	height: 0.0625em;
	margin: 0 0 rhythm(1);
}
ul, ol {
	margin: 0 0 rhythm(1) 1.5em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-top: 0;
	margin-bottom: 0; 
}
dl {
	margin: 0 0 rhythm(1);
	dt {
		font-weight: 600;
	}
	dd {
		margin: 0 0 0 rhythm(1);
	}	
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	border: 1px solid $border-color;  
	margin: 0 0 rhythm(1);
	width: 100%;
	th, td {
		border: 1px solid $border-color;  
		padding: 0.5em;
		@include breakpoint($small) {
			padding: 2%;
		}
	}
	th {
		font-weight: 600;
	}
}