/*--------------------------------------------------------------
14.0 - Footer
--------------------------------------------------------------*/
.site-footer {
	@include leading-border(1px, 2);
	@include leader(3);
	@include padding-trailer(2);
	border-color: $border-color; 
	.widget:last-of-type {
		@include omega;
	}
	.widget-count-1 {
		@include span(full);
	}
	.widget-count-2 {
		@include span(6 of 12);
	}	
	.widget-count-3 {
		@include span(4 of 12);
	}		
	.widget-count-4 {
		@include span(3 of 12); 
	}	
	.widget-count-5 {
		@include span(2.4 of 12);
	}	
	.widget-count-6 {
		@include span(2 of 12);
	}	
	.widget-count-7 {
		@include span(1.7143 of 12);
	}
	.widget-count-8 {
		@include span(1.5 of 12);
	}
	.widget-count-9 {
		@include span(1.3333 of 12);
	}
	.widget-count-10 {
		@include span(1.2 of 12); 
	}	
	@include breakpoint($small) {
		.widget-count-1, .widget-count-2, .widget-count-3, .widget-count-4, .widget-count-5, .widget-count-6, .widget-count-7, .widget-count-8, .widget-count-9, .widget-count-10 {
			width: 100%; 
		}
	}
	ul {
		margin-bottom: -0.3125em;
	}				
	.site-info, .theme-attribution {
		@include adjust-font-size-to(13px);
		color: $text-secondary-color; 
		float: left;
		margin-top: rhythm(1); 
		text-align: left;
		a {
			color: $text-secondary-color;
		}
		a:hover {
			color: $highlight-color;
		}
	}
	.menu-social-menu-container {
		float: right;
		margin-top: rhythm(1); 
	}
}