/*--------------------------------------------------------------
17.0 - Jetpack	
--------------------------------------------------------------*/
/*--------------------------------------------------------------
17.1 - Contact Form
--------------------------------------------------------------*/
div[id*="contact-form"] {
	div {
		margin-bottom: rhythm(1); 
		label {
			@include trailer(0.25);
			span {
				@include adjust-font-size-to(13px);
				color: $text-secondary-color;
			}
		}
		input, input[type='text'], input[type='email'] {
			margin-bottom: 0;
		}
		textarea {
			@include box-sizing(border-box);
			margin: 0;
			overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
			padding: 0.625em;
			vertical-align: top; /* Improves readability and alignment in all browsers */	
		}
	}	
	h3 {
		@include adjust-font-size-to(20px);
		margin: 0;
	}
	blockquote {
		@include adjust-font-size-to(16px)
	}	
	.form-error {
		@include adjust-font-size-to(14px);
		@include trailer(1);
		background: $error-background-color;
		border-top: 1px solid $error-border-color;
		border-bottom: 1px solid $error-border-color; 
		color: $error-text-color;
		padding: rhythm(0.3) rhythm(1) rhythm(0.5);
		h3 {	
			@include adjust-font-size-to(16px);
			color: $error-text-color;
		}
		.form-errors {
			margin-bottom: 0;
			.form-error-message {
				color: $error-text-color;
			}
		}
	}
}
#secondary div[id*="contact-form"], #colophon div[id*="contact-form"] {
	h3 {
		@include adjust-font-size-to(16px);
		margin: 0;
	}
	blockquote {
		@include adjust-font-size-to(14px)
	}	
	.form-error {
		@include adjust-font-size-to(14px);
		@include trailer(0.5);
		padding: rhythm(0.15) rhythm(0.5) rhythm(0.25);
		h3 {	
			@include adjust-font-size-to(16px);
			color: $error-text-color;
		}	
	}	
}

/*--------------------------------------------------------------
17.2 - Gravatar Profile
--------------------------------------------------------------*/
#secondary .widget-grofile, #colophon .widget-grofile {
	h4 {
		@include adjust-font-size-to(14px);
		margin: 0;
	}
}

/*--------------------------------------------------------------
17.3 - Infinite Scroll
--------------------------------------------------------------*/
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
.infinity-end.neverending .site-footer {
	display: block;
}
#infinite-handle {
	margin: rhythm(2) 0 0;
	text-align: center;
	span {
		@include border-radius(3px);
		@include single-box-shadow($highlight-color-dark, 0, 1px, 0);
		@include transition(0.3s);
		border: none;
		background: rgba(42, 193, 118, 0.8);
		color: #FFF;
		cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
		font-weight: 400; 
		padding: 0.5em 1em 0.375em;
		text-transform: uppercase;
		&:hover {
			background: rgba(42, 193, 118, 1);
		}
	}	
}
.infinite-scroll .infinite-loader {
	height: 1.625em;
	padding: rhythm(2.5) 0 0;
	.spinner {
		margin: 0 auto;
		top:  0.3125rem !important;
		left: 0 !important;
	}
}
.infinite-scroll.neverending .infinite-loader {
	.spinner {
		top: -3.3125rem !important;
	}
}
.rtl .infinite-loader .spinner {
	right: 0 !important;
	left: auto !important;
}	
.infinite-wrap {
	@include leading-border(1px, 2);
	@include leader(2);
	border-color: $border-color;
}
#infinite-footer {
	.container {
		border-color: $border-color;
	}
	.blog-info a {
		@include adjust-font-size-to(13px);
		color: $heading-color;
		&:hover {
			color: $highlight-color; 
			text-decoration: none;
		}
	}
	.blog-credits {
		@include adjust-font-size-to(11px);
		color: $text-color;
		a {
			color: $text-color;
			&:hover {
				color: $highlight-color; 
				text-decoration: none;
			}
		}
	}
}

/*--------------------------------------------------------------
17.4 - RSS Links
--------------------------------------------------------------*/
.widget_rss_links {
	p {
		font-weight: 600;
		margin: 0 0 rhythm(0.5);
		img {
			display: block;
		}
	}
}

/*--------------------------------------------------------------
17.5 - Subscriptions
--------------------------------------------------------------*/
p.comment-subscription-form {
	margin-bottom: 0; 
	input[type="checkbox"] {
		@include adjust-font-size-to(14px);
	}
	label.subscribe-label {
		@include adjust-font-size-to(14px);
		font-weight: normal;
		margin-bottom: 0; 
	}
}

/*--------------------------------------------------------------
17.6 - Tiled Gallery
--------------------------------------------------------------*/
.entry-content .tiled-gallery {
	margin: 0 0 rhythm(1);	 
}

/*--------------------------------------------------------------
17.7 - Video Player
--------------------------------------------------------------*/
.entry-content .video-player {
	margin: 0 0 rhythm(1);	
}

/*--------------------------------------------------------------
17.8 - WordPress Posts
--------------------------------------------------------------*/
#secondary .jetpack-display-remote-posts, #colophon .jetpack-display-remote-posts {
	h4 {
		@include adjust-font-size-to(14px);
		font-size: 100%;
		margin: 0 0 rhythm(0.5); 
	}
	p {
		font-size: 100%;
		line-height: 1.625em !important;
		margin: 0 0 rhythm(1) !important;
	}	
}