/*--------------------------------------------------------------
6.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
6.1 - Links
--------------------------------------------------------------*/
a {
	color: $highlight-color; 
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		color: $text-color;
	}	
}

/*--------------------------------------------------------------
6.2 - Main Menu
--------------------------------------------------------------*/
.main-navigation {
	@include adjust-font-size-to(14px);
	float: right;
	margin: 0;
	max-width: 70%; 
	position: relative;
	text-align: left;
	width: auto;	
	@include breakpoint($medium) {
		text-align: center;
		margin: 0 0 0.1875em; 
		max-width: 100%; 
		width: 100%; 		
	}  	
	a {
		@include nowrap;
		display: block;
		color: $text-color; 		
	}
	.current_page_item a, .current-menu-item a {
		color: $highlight-color; 
	}	
 	ul {
 		display: block;
		list-style: none;
		margin: 0;
		@include breakpoint($medium) {
			text-align: center;
		}		
		li {
			display: inline-block;
			margin-top: 1.5804em;
			padding: 0 1.6518em 0 0; 
			position: relative;
			&:hover > a {
				color: $highlight-color;
			}
			&:last-of-type {
				padding-right: 0; 
			}
		}			
		ul {
			display: none;
			left: 0; 
			padding-top: 0.1875em; 
			position: absolute;
			text-align: left;
			z-index: 2;  
			@include breakpoint($large) {
				display: none;
			}  				
			li {
				background: $background-color; 
				margin: 0;
				min-width: 9.6429em;
				padding: 0;
				width: 100%; 				
				a {
					padding: 0.5714em 1.1429em 0.5179em;			 					
				}
				&:hover > a {
					background: $highlight-color;
					color: #FFF; 
				}					
			}			
			ul {
				left: 100%;
				padding-top: 0;
				top: 0;
			}		
		}
		li:hover > ul {
			display: block;
		}
	}
	.menu-item-has-children {
		margin-right: 2.6607em; 
		padding-right: 0; 		
		a:before {
	        content: "\f063";
	        font-family: FontAwesome;
	        font-size: 0.625em;
	        padding: 0 0 0 0.6em;
	        position: absolute;
	        right: -1.5625em;
	        top: 0.1875em; 
			@include breakpoint($large) {
				display: none; 
			}  				
		}
		.sub-menu .menu-item-has-children {
			margin-right: 0; 
		}
		.sub-menu a:before {
			content: none; 
		}					 		  
	}
}
.center-logo .main-navigation {
	margin: 0 0 0.1875em;
	max-width: 100%; 
	text-align: center;
	width: 100%; 
}

/*--------------------------------------------------------------
6.3 - Comment, Post and Page Navigation
--------------------------------------------------------------*/
.site-main .comment-navigation {
	@include trailer(2);
}
.site-main .comment-navigation,
.site-main .post-navigation {
	@include leader(2);
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
.comment-navigation .nav-links,
.paging-navigation .nav-links,
.post-navigation .nav-links {
	text-align: center;	
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	position: relative;
	@include breakpoint($medium) {
		@include trailer;
		float: none;
		width: 100%; 
	} 		
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	position: relative;
	@include breakpoint($medium) {
		float: none;
		width: 100%; 
	} 	
}
.comment-navigation, .post-navigation {
	.nav-previous a:before, .nav-next a:after {
		font-family: 'FontAwesome'; 
		font-size: 0.8125em; 
	}
	.nav-previous a:before {
		content: "\f060";
		padding-right: 0.5179em; 
	}
	.nav-next a:after {
		content: "\f061";	
		padding-left: 0.5179em; 
	}
}
.paging-navigation {
	@include leader(2);	  
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	text-align: center;
	.page-numbers {
		@include border-radius(4px);
		border: 1px solid $border-color;
		color: $text-secondary-color; 
		display: inline-block;
		margin-right: 0.3125em; 
		padding: 0.4375em 1.0625em 0.375em;
		@include breakpoint($large) {
			display: none;		
		} 		
		&:hover {
			color: $highlight-color;
			border-color: $highlight-color; 
		}
	}
	.dots {
		border: none;
		padding-right: 0;
		padding-left: 0; 
		&:hover {
			color: $text-color;
		}
	}
	.current {
		border-color: $highlight-color;
		color: $highlight-color;
	}
	.prev, .next { 
		display: block;
		float: left;
		margin-right: 0;
		padding-right: 1.625em;
		padding-left: 1.625em;
	}	
	.next {
		float: right;
	}
}
.meta-nav { 
	font-size: 0.8125em; 
}
.nav-previous .meta-nav {
	margin-right: 0.1875em; 
}
.nav-next .meta-nav {
	margin-left: 0.1875em; 
}

/*--------------------------------------------------------------
6.5 - Social Menu
--------------------------------------------------------------*/
.menu-social-menu-container {
	@include breakpoint($medium) {
		float: left;
		width: 100%; 
	} 	
	.screen-reader-text {
		left: -9999rem;
		position: absolute;
		top: -9999rem;
	}
	ul {
		list-style: none;
		position: relative;
		margin: 0;	
		li {
			display: inline-block;
			color: transparent; 
			font-size: 0;
			line-height: 0; 
			padding: 0 0.3125rem;
			a {
				text-align: center;
			}
			&:last-of-type {
				padding-right: 0; 
			}
			a:before {
				display: block;
				color: $text-secondary-color; 
				font-family: "FontAwesome"; 
				font-size: 1.125rem;
				vertical-align: top;
			}	
			a:hover:before {
				color: $highlight-color;
			}								
			a[href*="behance.net"]:before {
				content: "\f1b4";
			}		
			a[href*="codepen.io"]:before {
				content: "\f1cb";
			}
			a[href*="delicious.com"]:before {
				content: "\f1a5";
			}	
			a[href*="deviantart.com"]:before {
				content: "\f1bd";
			}	
			a[href*="digg.com"]:before {
				content: "\f1a6";
			}				
			a[href*="dribbble.com"]:before {
				content: "\f17d";
			}	
			a[href*="facebook.com"]:before {
				content: "\f09a";
			}	
			a[href*="flickr.com"]:before {
				content: "\f16e";
			}	
			a[href*="foursquare.com"]:before {
				content: "\f180";
			}	
			a[href*="github.com"]:before {
				content: "\f09b";
			}
			a[href*="plus.google.com"]:before {
				content: "\f0d5";
			}
			a[href*="instagram.com"]:before {
				content: "\f16d";
			}			
			a[href*="linkedin.com"]:before {
				content: "\f0e1";
			}	
			a[href*="pinterest.com"]:before {
				content: "\f0d2";
			}		
			a[href*="reddit.com"]:before {
				content: "\f1a1";
			}		
			a[href*="soundcloud.com"]:before {
				content: "\f1be";
			}		
			a[href*="stackexchange.com"]:before {
				content: "\f18d";
			}	
			a[href*="stackoverflow.com"]:before {
				content: "\f16c";
			}		
			a[href*="tumblr.com"]:before {
				content: "\f173";
			}		
			a[href*="twitter.com"]:before {
				content: "\f099";
			}		
			a[href*="vimeo.com"]:before {
				content: "\f194";
			}		
			a[href*="vine.co"]:before {
				content: "\f1ca";
			}	
			a[href*="vk.com"]:before {
				content: "\f189";
			}
			a[href*="weibo.com"]:before {
				content: "\f18a";
			}					
			a[href*="wordpress.com"]:before {
				content: "\f19a";
			}	
			a[href*="youtube.com"]:before {
				content: "\f167";
			}																			
		}
	}
}